/* Import font for Stellar Design System */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Inconsolata:wght@500&display=swap");

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom breakpoint for extra small screens */
@layer utilities {
  @media (min-width: 475px) {
    .xs\:block {
      display: block;
    }
  }
}
